---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div class="container text-center">
	<div class="col-lg-12">

		<p align="left" style="font-size: 24px;">2025</p>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180" id="sdrs"><a href=""><img src="../files/DSCombiner.png" width="200" border="0"></a></td>
			<td> <span style="padding-left:5px"></span> </td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>DSCombiner: Double Shrinkage for Combining Biased and Unbiased Monte Carlo Renderings</b> <br>
					 Chenxi Zhou, Keheng Xu, Mufan Guo, Xianhao Yu, Zhimin Fan, Guihuan Feng, Yanwen Guo, <b>Jie Guo</b><br>
					<i>SIGGRAPH Asia 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180" id="sdrs"><a href=""><img src="../files/Spectral-GS.png" width="200" border="0"></a></td>
			<td> <span style="padding-left:5px"></span> </td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Spectral-GS: Taming 3D Gaussian Splatting with Spectral Entropy</b> <br>
					 Letian Huang, <b>Jie Guo</b>, Jialin Dan, Ruoyu Fu, Yuanqi Li, Yanwen Guo<br>
					<i>SIGGRAPH Asia 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180" id="sdrs"><a href=""><img src="../files/MIR.png" width="200" border="0"></a></td>
			<td> <span style="padding-left:5px"></span> </td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Multiple Importance Reweighting for Path Guiding</b> <br>
					 Zhimin Fan, Yiming Wang, Chenxi Zhou, Ling-Qi Yan, Yanwen Guo, <b>Jie Guo</b><br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2025)</i><br>
				    [<a href="https://zhiminfan.work/mi_reweight.html"><b>Project Website</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180" id="sdrs"><a href=""><img src="../files/Bound_Caustics.png" width="200" border="0"></a></td>
			<td> <span style="padding-left:5px"></span> </td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Bernstein Bounds for Caustics</b> <br>
					Zhimin Fan, Chen Wang, Yiming Wang, Boxuan Li, Yuxuan Guo, Ling-Qi Yan, Yanwen Guo, <b>Jie Guo</b><br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2025)</i><br>
				    [<a href="https://zhiminfan.work/bound_caustics.html"><b>Project Website</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180" id="sdrs"><a href=""><img src="../files/TransparentGS.png" width="200" border="0"></a></td>
			<td> <span style="padding-left:5px"></span> </td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>TransparentGS: Fast Inverse Rendering of Transparent Objects with Gaussians</b> <br>
					Letian Huang, Dongwei Ye, Jialin Dan, Chengzhi Tao, Huiwen Liu, Kun Zhou, Bo Ren, Yuanqi Li, Yanwen Guo, <b>Jie Guo</b><br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2025)</i><br>
				    [<a href="https://letianhuang.github.io/transparentgs/"><b>Project Website</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180" id="sdrs"><a href=""><img src="../files/SVBRDF_DRL.png" width="200" border="0"></a></td>
			<td> <span style="padding-left:5px"></span> </td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Appearance-aware Multi-view SVBRDF Reconstruction via Deep Reinforcement Learning</b> <br>
					Pengfei Zhu, <b>Jie Guo</b>, Yifan Liu, Qi Sun, Yanxiang Wang, Keheng Xu, Ligang Liu, Yanwen Guo<br>
					<i>SIGGRAPH 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180" id="sdrs"><a href=""><img src="../files/glossyGS.png" width="200" border="0"></a></td>
			<td> <span style="padding-left:5px"></span> </td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>GlossyGS: Inverse Rendering of Glossy Objects with 3D Gaussian Splatting</b> <br>
					Shuichang Lai, Letian Huang, <b>Jie Guo<\b>, Kai Cheng, Bowen Pan, Xiaoxiao Long, Jiangjing Lyu, Chengfei Lv, Yanwen Guo<br>
					<i>IEEE Transactions on Visualization and Computer Graphics, 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180" id="sdrs"><a href=""><img src="../files/DMP.png" width="200" border="0"></a></td>
			<td> <span style="padding-left:5px"></span> </td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Decoupled Motion Prediction for Real-time G-buffer Free Frame Extrapolation</b> <br>
					Jiawei Zhang, Haonan Zhang, Zhang Weitao, Liang Pu, Feng Zesen, <b>Jie Guo</b><br>
					<i>ACM MM 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<p align="left" style="font-size: 24px;">2024</p>
	</div>
</div>


