---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!--
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->


			<div class="row vert-offset-top-1 vert-offset-bottom-1 mb-4">
				<div class="col-md-2">
                    <img src="../files/DSCombiner.png" class="img-thumbnail center-block" width="200">
                </div>
				<div class="col-md-8">
					<div class = "mb-3">
						<p><b>DSCombiner: Double Shrinkage for Combining Biased and Unbiased Monte Carlo Renderings</b><br>
					</div>
					<div class = "mb-3">
						<p>
              Chenxi Zhou, &nbsp Keheng Xu, &nbsp Mufan Guo, &nbsp Xianhao Yu, &nbsp Zhimin Fan, &nbsp Guihuan Feng, &nbsp Yanwen Guo, &nbsp <b>Jie Guo</b>
				
						</p><i>SIGGRAPH Asia 2025</i>
					</div>
				</div>
			</div>

