---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find all my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a> 
	  or <a href="https://dblp.org/pid/77/2751-1.html">my DBLP profile</a>.</div>
{% endif %}

{% include base_path %}

<div class="container text-center">
	<div class="col-lg-12">

		<p align="left" style="font-size: 24px;">2025</p>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/DSCombiner.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>DSCombiner: Double Shrinkage for Combining Biased and Unbiased Monte Carlo Renderings</b> <br>
					 Chenxi Zhou, Keheng Xu, Mufan Guo, Xianhao Yu, Zhimin Fan, Guihuan Feng, Yanwen Guo, <b>Jie Guo</b><br>
					<i>SIGGRAPH Asia 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/Spectral-GS.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Spectral-GS: Taming 3D Gaussian Splatting with Spectral Entropy</b> <br>
					 Letian Huang, <b>Jie Guo</b>, Jialin Dan, Ruoyu Fu, Yuanqi Li, Yanwen Guo<br>
					<i>SIGGRAPH Asia 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/MIR.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Multiple Importance Reweighting for Path Guiding</b> <br>
					 Zhimin Fan, Yiming Wang, Chenxi Zhou, Ling-Qi Yan, Yanwen Guo, <b>Jie Guo</b><br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2025)</i><br>
				    [<a href="https://zhiminfan.work/mi_reweight.html"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/Bound_Caustics.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Bernstein Bounds for Caustics</b> <br>
					Zhimin Fan, Chen Wang, Yiming Wang, Boxuan Li, Yuxuan Guo, Ling-Qi Yan, Yanwen Guo, <b>Jie Guo</b><br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2025)</i><br>
				    [<a href="https://zhiminfan.work/bound_caustics.html"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/TransparentGS.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>TransparentGS: Fast Inverse Rendering of Transparent Objects with Gaussians</b> <br>
					Letian Huang, Dongwei Ye, Jialin Dan, Chengzhi Tao, Huiwen Liu, Kun Zhou, Bo Ren, Yuanqi Li, Yanwen Guo, <b>Jie Guo</b><br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2025)</i><br>
				    [<a href="https://letianhuang.github.io/transparentgs/"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/SVBRDF_DRL.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Appearance-aware Multi-view SVBRDF Reconstruction via Deep Reinforcement Learning</b> <br>
					Pengfei Zhu, <b>Jie Guo</b>, Yifan Liu, Qi Sun, Yanxiang Wang, Keheng Xu, Ligang Liu, Yanwen Guo<br>
					<i>SIGGRAPH 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/glossyGS.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>GlossyGS: Inverse Rendering of Glossy Objects with 3D Gaussian Splatting</b> <br>
					Shuichang Lai, Letian Huang, <b>Jie Guo</b>, Kai Cheng, Bowen Pan, Xiaoxiao Long, Jiangjing Lyu, Chengfei Lv, Yanwen Guo<br>
					<i>IEEE Transactions on Visualization and Computer Graphics, 2025</i><br>
				    [<a href="https://letianhuang.github.io/glossygs/"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/DMP.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Decoupled Motion Prediction for Real-time G-buffer Free Frame Extrapolation</b> <br>
					Jiawei Zhang, Haonan Zhang, Zhang Weitao, Liang Pu, Feng Zesen, <b>Jie Guo</b><br>
					<i>ACM MM 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/denoising_KD.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Rea-time Neural Denoising with Render-aware Knowledge Distillation</b> <br>
					Mengxun Kong, <b>Jie Guo</b>, Chen Wang, Ye Yuan, Yanwen Guo<br>
					<i>AAAI 2025</i><br>
				    [<a href="https://saltfishmx.github.io/RAKD_website/"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/GaRe.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>GaRe: Relightable 3D Gaussian Splatting for Outdoor Scenes from Unconstrained Photo Collections</b> <br>
					Haiyang Bai, Jiaqi Zhu, Songru Jiang, Wei Huang, Tao Lu, Yuanqi Li, <b>Jie Guo</b>, Runze Fu, Yanwen Guo, Lijun Chen<br>
					<i>ICCV 2025</i><br>
				    [<a href="https://baihyyut.github.io/GaRe/"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/MixRF.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>MixRF: Universal Mixed Radiance Fields with Points and Rays Aggregation</b> <br>
					Haiyang Bai, Tao Lu, Jiaqi Zhu, Wei Huang, Chang Gou, <b>Jie Guo</b>, Lijun Chen, Yanwen Guo<br>
					<i>IEEE Transactions on Visualization and Computer Graphics, 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/hair_AA.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>A Practical Real-time Hair Denoising and Antialiasing Approach</b> <br>
					Tao Huang, Junping Yuan, Ruike Hu, Lu Wang, Yanwen Guo, Bin Chen, <b>Jie Guo</b>, Junqiu Zhu<br>
					<i>Computer Graphics Forum (Proceedings of EGSR 2025)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/reservoirs_WS.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>World-Space Direct and Indirect Lighting Sample Reuse with Persistent Reservoirs</b> <br>
					Junping Yuan, Chen Wang, Qi Sun, <b>Jie Guo</b>, Jia Bei, Yan Zhuang, Yanwen Guo<br>
					<i>Pacific Graphics 2025</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/360-GS.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>360-GS: Layout-guided Panoramic Gaussian Splatting For Indoor Roaming</b> <br>
					Jiayang Bai, Letian Huang, <b>Jie Guo</b>, Wen Gong, Yuanqi Li, Yanwen Guo<br>
					<i>3DV 2025</i><br>
				    [<a href="https://github.com/LeoDarcy/360GS"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<p align="left" style="font-size: 24px;">2024</p>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/specular_poly.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Specular Polynomials</b> <br>
					Zhimin Fan, <b>Jie Guo</b>, Yiming Wang, Tianyu Xiao, Hao Zhang, Chenxi Zhou, Zhenyu Chen, Pengpei Hong, Yanwen Guo, Ling-Qi Yan<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2024)</i><br>
				    [<a href="https://zhiminfan.work/specPoly.html"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/condimixPG.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Conditional Mixture Path Guiding for Differentiable Rendering</b> <br>
					Zhimin Fan, Pengcheng Shi, Mufan Guo, Ruoyu Fu, Yanwen Guo, <b>Jie Guo</b><br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2024)</i><br>
				    [<a href="https://zhiminfan.work/condimixPG.html"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/DFASRR.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Deep Fourier-based Arbitrary-scale Super-resolution for Real-time Rendering</b> <br>
					Haonan Zhang, <b>Jie Guo</b>, Jiawei Zhang, Haoyu Qin, Zesen Feng, Ming Yang, Yanwen Guo<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2024)</i><br>
				    [<a href="https://iamxym.github.io/DFASRR.github.io/"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/GLPanoDepth.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>GLPanoDepth: Global-to-Local Panoramic Depth Estimation</b> <br>
					Jiayang Bai, Haoyu Qin, Shuichang Lai, <b>Jie Guo</b>, Yanwen Guo<br>
					<i>IEEE Transactions on Image Processing, 2024</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/translucent_IPT.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Practical Measurements of Translucent Materials with Inter-Pixel Translucency Prior</b> <br>
					Zhenyu Chen, <b>Jie Guo</b>, Shuichang Lai, Ruoyu Fu, Mengxun Kong, Chen Wang, Hongyu Sun, Zhebin Zhang, Chen Li, Yanwen Guo<br>
					<i>CVPR 2024</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/op43dgs.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>On the Error Analysis of 3D Gaussian Splatting and an Optimal Projection Strategy</b> <br>
					Letian Huang, Jiayang Bai, <b>Jie Guo</b>, Yuanqi Li, Yanwen Guo<br>
					<i>ECCV 2024</i><br>
				    [<a href="https://letianhuang.github.io/op43dgs/"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>		

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/skin_sun.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Biophysically-based Simulation of Sun-induced Skin Appearance Changes</b> <br>
					Xueyan He, Minghao Huang, Ruoyu Fu, <b>Jie Guo</b>, Junping Yuan, Yanghai Wang, Yanwen Guo<br>
					<i>Pacific Graphics 2024</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/FASSET.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>FASSET: Frame Supersampling and Extrapolation using Implicit Neural Representations of Rendering Contents</b> <br>
					Haoyu Qin, Haonan Zhang, <b>Jie Guo</b>, Ming Yang, Wenyang Bai, Yanwen Guo<br>
					<i>Computational Visual Media Conference (CVM 2024)</i><br>
			</td>
		</tr></tbody></table>
		<br>
		
		<p align="left" style="font-size: 24px;">2023</p>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/MetaLayer.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>MetaLayer: A Meta-learned BSDF Model for Layered Materials</b> <br>
					<b>Jie Guo</b>, Zeru Li, Xueyan He, Beibei Wang, Wenbin Li, Yanwen Guo, Ling-Qi Yan<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH Asia 2023)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/MPG.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Manifold Path Guiding for Importance Sampling Specular Chains</b> <br>
					Zhimin Fan, Pengpei Hong, <b>Jie Guo</b>, Changqing Zou, Yanwen Guo, Ling-Qi Yan<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH Asia 2023)</i><br>
				    [<a href="https://zhiminfan.work/manifoldPG.html"><b>Project Page</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/SVBRDF_UHR.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Ultra-High Resolution SVBRDF Recovery from a Single Image</b> <br>
					<b>Jie Guo</b>, Shuichang Lai, Qinghao Tu, Chengzhi Tao, Changqing Zou, Yanwen Guo<br>
					<i>ACM Transactions on Graphics, 2023 (presented at SIGGRAPH 2023)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/UHDNeRF.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>UHDNeRF: Ultra-High-Definition Neural Radiance Fields</b> <br>
					Quewei Li, Feichao Li, <b>Jie Guo</b>, Yanwen Guo<br>
					<i>ICCV 2023</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/ShadowMover.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>ShadowMover: Automatically Projecting Real Shadows onto Virtual Object</b> <br>
					Piaopiao Yu, <b>Jie Guo</b>, Fan Huang, Zhenyu Chen, Chen Wang, Yan Zhang, Yanwen Guo<br>
					<i>IEEE Transactions on Visualization and Computer Graphics (Proceedings of IEEE VR 2023)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/Lighting_LG.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Local-to-Global Panorama Inpainting for Locale-Aware Indoor Lighting Prediction</b> <br>
					Jiayang Bai, Zhen He, Shan Yang, <b>Jie Guo</b>, Zhenyu Chen, Yan Zhang, Yanwen Guo<br>
					<i>IEEE Transactions on Visualization and Computer Graphics (Proceedings of IEEE ISMAR 2023)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/SVBRDF_TLK.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>SVBRDF Reconstruction by Transferring Lighting Knowledge</b> <br>
					Pengfei Zhu, Shuichang Lai, Mufan Chen, <b>Jie Guo</b>, Yifan Liu, Yanwen Guo<br>
					<i>Computer Graphics Forum (Proceedings of Pacific Graphics 2023)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<p align="left" style="font-size: 24px;">2022</p>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/efficient_probes.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Efficient Light Probes for Real-time Global Illumination</b> <br>
					<b>Jie Guo</b>, Zijing Zong, Yadong Song, Xihao Fu, Chengzhi Tao, Yanwen Guo, Ling-Qi Yan<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH Asia 2022)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/NeuLighting.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>NeuLighting: Neural Lighting for Free Viewpoint Outdoor Scene Relighting with Unconstrained Photo Collections</b> <br>
					Quewei Li, <b>Jie Guo</b>, Yang Fei, Feichao Li, Yanwen Guo<br>
					<i>SIGGRAPH Asia 2022</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/ImpCaches.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Real-time Deep Radiance Reconstruction from Imperfect Caches</b> <br>
					Tao Huang, Yadong Song, <b>Jie Guo</b>, Chengzhi Tao, Zijing Zong, Xihao Fu, Hongshan Li, Yanwen Guo<br>
					<i>Computer Graphics Forum (Proceedings of Pacific Graphics 2022)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<p align="left" style="font-size: 24px;">2021</p>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/ExtraNet.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>ExtraNet: Real-time Extrapolated Rendering for Low-latency Temporal Supersampling</b> <br>
					<b>Jie Guo</b>, Xihao Fu, Liqiang Lin, Hengjun Ma, Yanwen Guo, Shiqiu Liu, Ling-Qi Yan<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH Asia 2021)</i><br>
				    [<a href="https://github.com/fuxihao66/ExtraNet"><b>Code</b></a>]
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/SKPN.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Volumetric Appearance Stylization with Stylizing Kernel Prediction Network</b> <br>
					<b>Jie Guo</b>, Mengtian Li, Zijing Zong, Yuntao Liu, Jingwu He, Yanwen Guo, Ling-Qi Yan<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2021)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/HANet.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Highlight-Aware Two-Stream Network for Single-Image SVBRDF Acquisition</b> <br>
					<b>Jie Guo</b>, Shuichang Lai, Chengzhi Tao, Yuelong Cai, Lei Wang, Yanwen Guo, Ling-Qi Yan<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2021)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/Lighting_HD.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Hierarchical Disentangled Representation Learning for Outdoor Illumination Estimation and Editing</b> <br>
					Piaopiao Yu, <b>Jie Guo</b>, Fan Huang, Cheng Zhou, Hongwei Che, Xiao Ling, Yanwen Guo<br>
					<i>ICCV 2021</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/GLAVNet.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>GLAVNet: Global-Local Audio-Visual Cues for Fine-Grained Material Recognition</b> <br>
					Fengmin Shi, <b>Jie Guo</b>, Haonan Zhang, Shan Yang, Xiying Wang, Yanwen Guo<br>
					<i>CVPR 2021</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<p align="left" style="font-size: 24px;">2020</p>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/BRDF_DS.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>BRDF Analysis with Directional Statistics and Its Applications</b> <br>
					<b>Jie Guo</b>, Yanwen Guo, Jingui Pan, and Wenzhou Lu<br>
					<i>IEEE Transactions on Visualization and Computer Graphics, 2020</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/DeepBRDF.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>DeepBRDF: A Deep Representation for Manipulating Measured BRDF</b> <br>
					Bingyang Hu, <b>Jie Guo</b>, Yanjun Chen, Mengtian Li, Yanwen Guo<br>
					<i>Computer Graphics Forum (Proceedings of Eurographics 2020)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<p align="left" style="font-size: 24px;">2019</p>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/GradNet.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>GradNet: Unsupervised Deep Screened Poisson Reconstruction for Gradient-Domain Rendering</b> <br>
					<b>Jie Guo</b>, Mengtian Li, Quewei Li, Yuting Qiang, Bingyang Hu, Yanwen Guo, Ling-Qi Yan<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH Asia 2019)</i><br>
			</td>
		</tr></tbody></table>
		<br>	

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/FGF.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Fractional Gaussian Fields for Modeling and Rendering of Spatially-Correlated Media</b> <br>
					<b>Jie Guo</b>, Yanjun Chen, Bingyang Hu, Ling-Qi Yan, Yanwen Guo, Yuntao Liu<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2019)</i><br>
			</td>
		</tr></tbody></table>
		<br>	

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/lighting_DSG.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Deep Spherical Gaussian Illumination Estimation for Indoor Scene</b> <br>
					Mengtian Li, <b>Jie Guo</b>, Xiufen Cui, Rui Pan, Yanwen Guo, Chenchen Wang, Piaopiao Yu, Fei Pan<br>
					<i>ACM Multimedia Asia 2019</i><br>
			</td>
		</tr></tbody></table>
		<br>	

		<p align="left" style="font-size: 24px;">Before 2019</p>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/highlight_LR.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Single Image Highlight Removal with a Sparse and Low-Rank Reflection Model</b> <br>
					<b>Jie Guo</b>, Zuojian Zhou, Limin Wang<br>
					<i>ECCV 2018</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/pigment.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>A Physically-based Appearance Model for Special Effect Pigments</b> <br>
					<b>Jie Guo</b>, Yanjun Chen, Yanwen Guo, Jingui Pan<br>
					<i>Computer Graphics Forum (Proceedings of EGSR 2018)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/retro.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>A retroreflective BRDF model based on prismatic sheeting and microfacet theory</b> <br>
					<b>Jie Guo</b>, Yanwen Guo, Jingui Pan<br>
					<i>Graphical Models, 2018</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/layer_ENDF.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Rendering Thin Transparent Layers with Extended Normal Distribution Functions</b> <br>
					<b>Jie Guo</b>, Jinghui Qian, Yanwen Guo, Jingui Pan<br>
					<i>IEEE Transactions on Visualization and Computer Graphics, 2017</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/refract_rough.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Real-time rendering of refracting transmissive objects with multi-scale rough surfaces</b> <br>
					<b>Jie Guo</b>, Jingui Pan<br>
					<i>The Visual Computer, 2016</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/layer_EMND.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Practical Rendering of Thin Layered Materials with Extended Microfacet Normal Distributions</b> <br>
					<b>Jie Guo</b>, Jinghui Qian, Jingui Pan<br>
					<i>EGSR 2015</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/layer_dust.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Real-time simulating and rendering of layered dust</b> <br>
					<b>Jie Guo</b>, Jingui Pan<br>
					<i>The Visual Computer (Proceedings of CGI 2014)</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/refraction_multiscale.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Real-time Multi-scale Refraction under All-frequency Environmental Lighting</b> <br>
					<b>Jie Guo</b>, Jingui Pan<br>
					<i>CAD/Graphics 2013</i><br>
			</td>
		</tr></tbody></table>
		<br>

		<table class="table no-border"><tbody><tr>
			<td valign="top" width="180"><a href=""><img src="../files/line_seg.png" width="200" border="0"></a></td>
			<td style="font-size: 16px; line-height: 150%;" align="left">
					<b>Line Segment Sampling with Blue-Noise Properties</b> <br>
					Xin Sun, Kun Zhou, <b>Jie Guo</b>, Guofu Xie, Jingui Pan, Wencheng Wang, Baining Guo<br>
					<i>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2013)</i><br>
			</td>
		</tr></tbody></table>
		<br>
		
	</div>
</div>


